body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 34px;
    color: #777777;
    background: url("../Images/dark-honeycomb.png")

}


.card {

 display: inline-block;
 height: 960px;
 width: 960px;

margin-left: 15%;

overflow: hidden;



 
    
}

footer {
    background: #666666;
    text-align: center;
    height: 150px;
}

.copyright {
    color: lightslategray;
    border-top: 8px solid #4aaaa5;
    padding-top: 10px;
}


footer, .push {
    height: 100px;
}

* {
    box-sizing: border-box;
  }

  